@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
    margin: 0;
    padding: 0;
    background: url(images.jpg) no-repeat;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}

svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 350px;
}

svg text {
    font-size: 200px;
    fill: rgba(0, 0, 0, .1);
    stroke-width: 2px;
    stroke: white;
    stroke-linejoin: round;
    stroke-dasharray: 80;
    animation: animate 1s linear infinite;
}

@keyframes animate {
    100% {
        stroke-dasharray: 160;
    }
}